html{
    text-align: center;
    }
    img{
    width: 200px;
}
body{
    background-color: lavender;
}
h2{
    font-family: 'Caveat', cursive;
}
h3{
    font-family: 'Tangerine', cursive;
}
h3{
    font-size: 26px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
